@import "tailwindcss";

@layer base {
    h2 {
        font-family: 'Source Serif Pro', serif;
        font-weight: 900;
        font-style: normal;
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: -0.01em;
    }
}